#navb{
    background-color: #194592;
}

body {
  background-size:cover;
  background-image: url("beach.jpg");
  color: white;
}

#quote {
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  max-width: 800px;
  line-height: 1.5;
}

.card-text {
  color: black;
}

.text{
  color: black;
}
